
language: cpp
matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          packages:
          - xorg-dev
    - os: linux
      compiler: clang
      addons:
        apt:
          packages:
          - xorg-dev
    - os: windows
      compiler: gcc
      install: choco install ninja
      script: cmake -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DUTIL_BUILD_EXAMPLES=ON -DUTIL_BUILD_TESTS=ON -DCMAKE_CXX_FLAGS="-Wall -Wextra -pedantic" .. && ninja && ctest --verbose -D ExperimentalTest

before_script: mkdir build && cd build
script: cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DUTIL_BUILD_EXAMPLES=ON -DUTIL_BUILD_TESTS=ON -DCMAKE_CXX_FLAGS="-Wall -Wextra -pedantic" .. && make && ctest --verbose -D ExperimentalTest
